<html ng-app="listaTelefonica">

<head>
    <title> Lista Telefonica </title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .selecionado {
            background-color: yellow;
        }
    </style>
    <script src="lib/angular-1.6.10/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefonica"
            // array with names for definition 
            $scope.contatos = [
                { nome: "Edmar", telefone: "996160848", cor: "red" },
                { nome: "Renata", telefone: "997283579", cor: "yellow"  },
                { nome: "Joao", telefone: "956165548", cor: "blue"  }
            ];
            $scope.operadoras = [
                { nome: "Oi", codigo: 14, categoria: "Celular" },
                { nome: "Vivo", codigo: 15, categoria: "Celular" },
                { nome: "Tim", codigo: 41, categoria: "Celular" },
                { nome: "GVT", codigo: 45, categoria: "Fixo" },
                { nome: "Embratel", codigo: 27, categoria: "Fixo" }
            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(contato);
                delete $scope.contato;  // need to do this because if not, the value change will show at the table
            };

            $scope.ApagarContatos = function (contatos) {
               $scope.contatos = contatos.filter(function (contato) {  // filtra e retorna os contatos que nao estao selecionados
                   if (!contato.selecionado) return contato;
               });
            };

            $scope.isContatoSelecionado = function(contatos) { // vai checar em todos os contatos e retornar true se pelo menos 1 tiver selecionado
               return contatos.some(function (contato) {
                    return contato.selecionado; 
                })
            };
        });      
    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- para mostrar o elemento usa-se dessa forma ou assim {{app}} ou ng-bind="app" -->
        <h4>{{app}}</h4>
      
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <!--loop for the array -->
                <td>
                    <input type="checkbox" ng-model="contato.selecionado" />
                </td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>

        <hr />

        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />

        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="ApagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)" >Apagar Contatos</button>

    </div>

    <div ng-include="'footer.html'"></div>

</body>

</html>